 html, body, #root {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
body{
margin: 0
}
:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
}
* {
  font-family: "Montserrat", sans-serif;
}
p, h1, h2, h3, h4, link, span, button, label, li, ol, ul{
  font-family: "Montserrat", sans-serif;
}
